body {
    overflow: hidden;
    background-color: #b3b9d1;
    display: flex;
}
main {
    margin: 0 auto;
    width: 80%;
}
.game {
    position: absolute;
    margin-left: auto; 
    margin-right: auto; 
}